@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Space Grotesk", sans-serif;
    background: #15182e;
    font-size: 1.2rem;
}
.anuncio {
    color: #fff;
    text-align: center;
}
.inputNumero {
    font-family: inherit;
    font-size: inherit;
    padding: 0.5rem 1rem ;
    border-radius: 1rem 0 0 1rem;
    border: none
}
.btnInvertir {
    cursor: pointer;
    font-family: inherit;
    padding: 0.5rem;
    font-weight: 700;
    font-size: inherit;
    border-radius: 0 1rem 1rem 0;
    border: none;
    transition: all 0.3s ease;
    &:hover {
        background: rgb(9, 230, 255);
    }
}
.main {
    height: 100vh;
    display: grid;
    place-items: center;
}
.container {
    height: 80vh;
    display: grid;
    place-items: center;
    width: 100vw;
    max-width: 90%;
}
.outputs {
    background: #ffffffc0;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width: 535px){
    .entries {
        display: grid;
        gap: 1rem;
    }
    
    .btnInvertir,
    .inputNumero {
        border-radius: 1rem;
    }
}