body {
    font-family: montserrat; 
}
.main {
    height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
}
.container {
    max-width: 80vw;
}
.container-btn {
    background: rgba(255, 166, 0, 0.267);
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}
.btn {
    background: rgb(0, 81, 128);
    color: antiquewhite;
    font-weight: 700;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 0.5rem 0.8rem;
    border: none;

    &:hover { transform: scale(0.95); }
    &:active { background: orange; }
}
.contenido {
    background: rgba(0, 77, 128, 0.164);
    padding: 1rem;
    width: 100%;
    height: 50vh;
    display: grid;
    place-items: center;
    font-weight: 700;
    color: navy;
}
