@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #222;
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "Space Grotesk", sans-serif;

}
button {
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;

    &:hover {
        background: #66ff00; 
        box-shadow: 0px 0px 5px 0px #fff;
    }
}
ul {
    color: #fff;
}